<launch>
	<!-- Arguments -->
	<arg name="baud_rate_mode"  default="0"     doc="baud rate value [0:(3,000,000), 1:(921,600), 2:(115,200), 3:(57,600)]"/>
	<arg name="run_mode"       default="2"     doc="version type [0, 1, 2]"/>   <!-- 0: 2D, 1: 3D, 2: Dual -->
	<arg name="frequency_level" default="0"     doc="frequency Ch. [0 to 15]"/>
	<arg name="duration_mode"   default="0"     doc="pulse mode [0, 1]"/>        <!-- 0: Auto, 1: Manual -->
	<arg name="duration_value"  default="10000" doc="duration [0 to 10000]"/>

	<node name="cyglidar_publisher" pkg="cyglidar_d1_ros1" type="cyglidar_publisher" output="screen">
		<param name="port_number"       value="/dev/ttyUSB0"/>
		<param name="baud_rate"         value="$(arg baud_rate_mode)"/>
		<param name="frame_id"          value="laser_frame"/>
		<param name="fixed_frame"       value="/map"/>
		<param name="run_mode"          value="$(arg run_mode)"/>
		<param name="duration_mode"     value="$(arg duration_mode)"/>
		<param name="duration_value"    value="$(arg duration_value)"/>
		<param name="frequency_channel" value="$(arg frequency_level)"/>
	</node>

	<node name="to_laserframe" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 map laser_frame 10"/>
</launch>
